/* Special windows styles */

/* Scrollbar */
::-webkit-scrollbar {
    background: none;
    opacity: 0.5;
    position: absolute;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar:horizontal  {
    height: 5px;
    margin-left: 2px;
    bottom: 2px;
    left: 0;
}

::-webkit-scrollbar:vertical  {
    width: 5px;
    margin-top: 2px;
    right: 2px;
    top: 0;
}