<div class="settings col-xs-12">
    <header>
        <div>
            <span class="glyphicon glyphicon-cog"></span>
        </div>
        <div>
            <span>${0}</span>
        </div>
    </header>
    <hr class="no_margin">
    <table>
        <tr>
            <td>${3}</td>
            <td>
                <select data-setting="locale" class="select setting">
                    <option value="de_DE">Deutsch</option>
                    <option value="en_US">English</option>
                    
                </select>
            </td>
        </tr>
    </table>
    <hr>
    <table>
        <tr>
            <td></td>
            <td>
                <button role="close" class="btn btn-default">${1}</button>
                <button class="btn btn-success save">${2}</button>
            </td>
        </tr>
    </table>
</div>

<script src="libs/settings.js"></script>